GITHUB_MIRROR=
GITHUB_CONTENT_MIRROR=
GRAVATAR_MIRROR=

KOISHI_HOST=0.0.0.0
KOISHI_CONSOLE_OPEN=
KOISHI_WEATHER_CITY=
KOISHI_ONEBOT_SELF_ID=

COZE_BOT_ID=
COZE_TOKEN=
OPENAI_API_KEY=
OPENAI_BASE_URL=https://api.openai.com/v1
OPENAI_IMAGE_MODEL=gpt-image-2
OPENAI_VISION_API_KEY=
OPENAI_VISION_BASE_URL=https://api.siliconflow.cn/v1
OPENAI_VISION_MODEL=Qwen/Qwen3-VL-8B-Instruct
DEEPSEEK_API_KEY=
SILICONFLOW_API_KEY=
TAVILY_API_KEY=

ACTIVELINK_GROUP_ID_1=
ACTIVELINK_PRIVATE_ID_1=
ACTIVELINK_PRIVATE_ID_2=
